.currencyLine {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr;
    max-width: 480px;
    box-sizing: border-box;
    gap: 1px;
}

.currencyLine > div {
    margin: 5px 0;
    padding-left: 4px;
    outline: 1px black solid;
}